/*------------------------[General]-------------------------------*/
h1{
	 font-family: 'Roboto', sans-serif;
	 font-size: 50px;
}

h2{
	 font-family: 'Roboto', sans-serif;
	 font-size: 40px;
}

html, body {
    overflow-x: hidden;
    margin: 0;
}

p, li{
	 font-family: 'Roboto', sans-serif;
}

/*------------------------[Header]-------------------------------*/
 nav ul{
 	margin-top: -10px;
 	margin-left: -10px;
 	padding-left: 0px;
 	padding-top: 8px;
 	list-style-type: none;
 	text-align: center;
 	height: 50px;
 	background-color: #0d0d0d;
 }

nav{
	position: fixed;
	width: 100%;
}

 nav li{
 	margin-top: 20px;
 	display: inline;
 	padding-left: 20px;
 	padding-right: 20px;
 	font-size: 20px;
 	color: #fff;

 }

nav a{
	color: #FFF;
	text-decoration: none;
}

nav a:hover{
	color: #58d339;
}

#fix{
	height: 10px;
}

#fix3{
	height: 12px;
}

/*------------------------[Index]-------------------------------*/

#box{
	background-color: #8ba8c1;
	padding-bottom: 15%;
	text-align: center;
	width: 100%;
}

#box2{
	margin-left: -0px;
	margin-right: -10px;
	padding-bottom: 400px;
	text-align: center;
}

#text{
	text-align: center;
	width: 30%;
	float: left;
	margin-left: 2%;
	padding-top: 15px;

}

#text2{
	text-align: center;
	width: 30%;
	float: left;
	margin-left: 3.3%;
	padding-top: 15px;
}

#text3{
	text-align: center;
	width: 30%;
	float: left;
	margin-left: 3.3%;
	padding-top: 15px;
}


#temp{
	padding-top: 50px;
}

/*------------------------[Footer]-------------------------------*/
footer{
	position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    color: #fff;
    background-color: #000;
    margin: 0 auto;
    text-align: center;
    margin-left: -10px;
    padding-left: 12px;
}

#fix2{
	height: 50px;
}

.colour{
	color: #FF9100;
}